html,
body{
    height: 100%;
}

body{
    background: #000;
    color: #ccc;
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

h1{
    color:white;
    margin: 0;
    padding: 20px;
}

a{
    color:white;
}

#title{
    text-align: center;
    height: 10%;
}

#canvasContainer {
    display: flex; /* 设置为 Flexbox 布局 */
    align-items: center; /* 在交叉轴上居中 */
    justify-content: center; /* 在主轴上居中 */
    background-color: #000;
    text-align: center;
    height: 100%;
    margin: 0!important;
}

#canvas{
    border: none;
    margin: auto;
}

#message{
    margin-top:5px; text-align: center;
}

#stats {
    /* top right */
    position: absolute!important;
    padding: 10px;
    left: 5% !important;
    right: auto !important;
    top: 5% !important;
}

#stats.canvas{
    /* canvas is block, align to right */
    text-align: right;
}


#flex-container {
    height: 90%;
    display: flex;
    align-items: center; /* 在交叉轴上居中 */
    justify-content: center; /* 在主轴上居中 */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /*padding: 10px;*/
}

#flex-container > * {
    flex-shrink: 0;
    margin-left: 18px;
    margin-top: 18px;
}

#custom-css:not(:empty) {
    width: 245px;
    min-height: 200px;
    font: 11px/14px Menlo, Monaco, Consolas, 'Droid Sans Mono', monospace, 'Droid Sans Fallback';
    -webkit-font-smoothing: antialiased;
    tab-size: 0;
    color: #000;
}

